<!DOCTYPE html>
<html>
<head>
	<!-- <link rel="SHORTCUT ICON" href="/include/images/favicon.ico" type="image/x-icon"> -->
	<link rel="stylesheet" href="/include/styles/styles.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="/include/styles/counter.css" type="text/css" media="screen"/>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script type="text/javascript" src="/include/js/jquery.min.js"></script>
	<script type="text/javascript" src="/include/js/counter.js"></script>
	<script type="text/javascript" src="//vk.com/js/api/openapi.js?102"></script>
	<script type="text/javascript" src="/include/js/gallery.js"></script>
	<title>Good CRM</title>
</head>
<body>